*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}
.login{
    width: 100%;
    overflow: 0;
}
.wh{
width:65% ;
height: 100vh;
float:left ;
text-align: center;
}
.sign{
    padding-top: 70px;
    font-size: 50px;
    font-weight: 500;
    color: #1e0ca3;
}
.sign + span {
    display: block;
    background-color:#1e0ca3;
    width: 60px;
    height: 5px;
    margin-left: 425px;
    margin-top: 15px;
    margin-bottom: 30px;
    
}
.icons{
    margin-bottom: 100px;
}
.face{
    
    margin-left: 370px;
    float: left;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background-color: #e4e4e4;
    
    
}
.face > span{
    width: 23px;
    position: absolute;
    font-size: 19px;
    font-weight: 500;
    padding-top: 8px;
   
    
    height: 40px;
    margin-left: -11px;
}
.linkdin{
    float: left;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background-color: #e4e4e4;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 30px;
   

}
.linkdin > span {
    width: 23px;
    position: absolute;
    font-size: 19px;
    font-weight: 500;
    padding-top: 8px;
    
    
    height: 40px;
    margin-left: -11px;

}
.gemail{
    float: left;
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    background-color: #e4e4e4;
    text-align: center;
    margin-left: 20px;
   
}
.gemail > span {
    width: 23px;
    position: absolute;
    font-size: 19px;
    font-weight: 500;
    padding-top: 8px;
    
    
    height: 40px;
    margin-left: -11px;
}

.icons + p {
    font-size: 18px;
    padding-top:5px;
    color: #a2a2a2;
    padding-bottom: 6px;
}
.inputs{
    width: 776px;
    height: 181px;
}
[type="email"],
[type="password"]{
    display: block;
    margin-top: 18px;
    margin-left: 260px;
    width: 374px;
    height: 49px;
    border: 2px solid #d8d4d4;
    border-radius: 8px;
    padding-left: 13px;
    font-size: 17px;
    
}
[type="checkbox"]{
    margin: 14px 0 19px 129px;
    width: 26px;
    height: 15px;
}
[type="checkbox"] + span{
font-weight: 600;
font-size: 17px;

}
[type="checkbox"] + span +span{
    font-weight: 600;
    font-size: 17px;
    padding-left: 89px;
    
    }
.wh button {
    width: 180px;
    height: 50px;
    margin-bottom: 60px;
    color: #fff;
    background-color: #3930d9;
    border: 2px solid #fff;
    border-radius: 25px;
    font-size: 20px;
}
.inputs + button + p{
    font-size: 15px;
    color: gray;
} 
.inputs + button + p > span {
    font-weight: 900;
    margin: 0 11px;
}
.bl{
    width: 35%;
    height: 100vh;
    background-color: #3930d9    ;
    float: left;
    text-align: center;
    
}
.hello{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    padding-top: 150px;
}
.bl span {
    display: block;
    background-color: #fff;
    width: 60px;
    height: 5px;
    margin-left: 215px;
    margin-top: 13px;
    margin-bottom: 30px;
    
    
}
.hello + span + p{
    color: #fff;
    font-size: 18px;
}
.bl > button {
    width: 180px;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    background-color: #3930d9;
    border: 2px solid #fff;
    border-radius: 25px;
    font-size: 20px;

}